.page{
    background-color: white;
}
/* ul parent*/
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(107, 172, 252);
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.4);
}
li{
    list-style: none;
}
.nameCard{
    padding-left: 15px;
}
.nameCard :hover{
    text-decoration: none;
}
.name{
    font-size: 35px;
    color: white;
}
.welcome{
    color: white;
    font-size: 20px;
}
.contactCard{
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 10px;
    border-left: solid; 
    border-color: white;
    height:100%;
    font-size: 20px;
}
.contact{
    color: white;
}
.phone{
    color: white;
}
.email{
    color: white;
}
.address{
    color: white;
    text-decoration-line: underline; 
}
.address, address:link{
    text-decoration-line: underline;
}
.menuCard{
    margin: auto; 
    width: 100%; 
    padding: 50px; 
    display: flex;
}
.workCard{
    word-break:break-word; 
    width: 50%; 
    background: rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 0px 0 rgba(0,0,0,0.4);
    transition: 0.3s; 
    border-radius: 5px; 
    text-align: center;
    margin-right: 10px; 
}
.workCard:hover{
    box-shadow: 0px 10px 16px 0 rgba(0,0,0,0.4)
}
.workExp{
    display: inline-block;
    color: white;
    font-family: tahoma; 
    font-size: 25px;
    padding: 10px; 
    margin: auto; 
}
.edCard{
    word-break:break-word; 
    width: 50%; 
    background: rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 0px 0 rgba(0,0,0,0.4);
    transition: 0.3s; 
    border-radius: 5px; 
    text-align: center;
    margin-left:10px; 
}
.edCard:hover{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.4)
}
.education{
    display: inline-block;
    color: white;
    font-family: tahoma; 
    font-size: 25px; 
    padding: 10px; 
}
.aboutMe{
    display: flex;
    height: 1000px;
}
.imageCard{
    padding:20px; 
    flex:1;
    width:50%; 
}
.image{
    flex:1; 
    margin:auto; 
    object-fit: cover;
    width:100%; 
    height:100%; 
    border-radius: 10px;
}
.textCard{
    margin-top: 120px; 
    padding: 20px;
    flex:1; 
    width:50%
}
.contentCard{
    display: flex;
    align-items: center;
    padding: 20px;
}
.edLink{
    margin-left:20px; 
}
.laxCard{
    padding:20px; 
    flex:1;
    width:50%; 
}
.lax{
    flex:1; 
    margin:auto; 
    object-fit: cover;
    width:100%; 
    height:100%; 
    border-radius: 10px;
}