body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(./images/giphy.gif);
	background-size: 250%;
	background-repeat: no-repeat;
	height: 100vh;
	background-position: center;
}

.container {
	position: relative;
	max-width: 800px; /* Maximum width */
	margin: 0 auto; /* Center it */
  }
  
  .container .content {
	position: relative;
	bottom: 120px; /* At the bottom. Use top:0 to append it to the top */
	background: rgb(0, 0, 0); /* Fallback color */
	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
	color: #f1f1f1; /* Grey text */
	width: 120%; /* Full width */
	right: 50px;
	padding: 10px; /* Some padding */
	border-radius: 10px;
  }

  .container .imagebox{
	position: relative;
	box-shadow: 10px 5px 5px rgb(131, 131, 155);
	bottom: 150px;
	width: 200px;
	height: 240px;
	right: 100px;
	border: 1px solid black;
	z-index: 2;
	border-radius: 10px;
  }

  .container .box{
	position: relative;
	top: 80px; /* At the bottom. Use top:0 to append it to the top */
	left: 190px;
	background: rgb(0, 0, 0); /* Fallback color */
	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
	color: #f1f1f1; /* Grey text */
	height: 220px;
	width: 750px; /* Full width */
	padding: 10px; /* Some padding */
	border-radius: 10px;
  }

  .container .imagebox .img img{
	position: relative;
	width: 100%;
	height: 240px;
	border-radius: 10px;
  }

  iframe{
	position: relative;
	bottom: 80px;
	right: 200px;
  }
